//variables

/* Colors */
$color_fondo: #05758b;
$text-color: #ffffff;

/* Spacings */
$spacing-large: 6rem;
$spacing-medium: 2.4rem;
$spacing-small: 2rem;
$spacing-xsmall: 1rem;

/* Font-family */
$font-principal: 'Poppins', sans-serif;
$font-title: 'Roboto Slab', serif;

/* Font-Sizes */
$text-large: 5.2em;
$text-medium: 2.2em;
$text-base: 1.6em;
$text-small: 1em;

//map
$fuentes: (
    text-large: 5.2em,
    text-medium: 2.2em,
    text-base: 1.6em,
    text-small: 1.4em
)